<!-- Home Page -->
<div class="container">
	<article>
		<h1>Welcome to My How-To for Google's Google Maps Web API</h1>
		<section>
			<h2>About this Guide</h2>
			<p>
				Google Maps has become the most common way for websites to embed a map onto their web page, providing a way for users to look up directions to stores or find the closest location to their home. With their API, you can embed simple map images, fully interactive maps where users can search for locations, maps with directions, and more. Though Google provides a large amount of documentation for their API, the number of different things you can do with the API means it can take some time to find all the pages you need.
			</p>
			<p>
				Because of this, I will not be covering the Android and iOS APIs. Instead, I will focus on sections of the Web API and briefly touch on Google's Geocoding API. I will start with a discussion on setting up your account with an API key, then move on to the Embed API within the Web API, as it is the simplest method. Then I will go on to discuss the JavaScript API and Google Places API for JavaScript; I will finish with a guide on Google's Geocoding API. 
			</p>
			<p>
				This is by no means a comprehensive guide. Google Maps has an extensive API and you can do much more than I will show here with it, including (but not limited to): auto-completing search forms with popular locations, allowing users to search for nearby locations, showing elevation for different areas, and snapping the map to a road for a GPS app. 
			</p>
		</section>
	</article>
	<a href="/Part1" class="btn btn-default pull-right">Get Started</a>
</div>